#reset {
    margin-top: 15px;
    margin-bottom: 15px;
}
#start {
    position: absolute;
    visibility: none;
    width: 5px;
    height: 600px;
    background-color: red;
    opacity: 80%;
}
#chart {
    width: 800px;
    height: 600px;
    float:left;
}
#stacktrace {
    left: 820px;
    position: absolute;
    font-family: arial;
    font-size: 12px;
}