body {
    font-family: sans-serif;
}
#reset {
    margin-top: 15px;
    margin-bottom: 15px;
}
#chart {
    width: 70%;
    height: 95%;
    float:left;
}
#stacktrace {
    left: 70%;
    position: absolute;
    font-size: 12px;
}
.stacktrace-line span:nth-child(1) { font-weight: bold; }
.stacktrace-line span:nth-child(2) { margin-left: 1em; color: grey; }
.stacktrace-line { display: block; }
